<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
#Example
string1 = "Hello"
string2 = "world"
#Se concatenan dos strings
print(string1 + " " + string2 + " earthling!")

Hello world earthling!

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
#Example
#Error: There's an error if you try to convert something that is not a int
not_an_int = "Hi"
print(type(not_an_int))
not_an_int = int(not_an_int)
print(type(not_an_int))

<class 'str'>

ValueError: ignored

In [ ]:
its_an_int = int("456789")
print(type(its_an_int))

<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

Example:

In [ ]:
a_float = 4.5
print(type(a_float))

<class 'float'>

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

Another example:

In [ ]:
its_a_float = "4.58765"
its_a_float = float(its_a_float)
print(type(its_a_float))

<class 'float'>

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

Another example:

In [ ]:
its_a_bool = True
print(type(its_a_bool))

<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
#Example
#(((4 + 54) * (98 + 23))^3)/4678
#Se realizan las operaciones por partes y se unen en el print
sum = 4 + 54
sub = 98 + 23
exp = 3
div = 4678
print("Result of (((4 + 54) * (98 + 23))^3)/4678: ", ((sum * sub)**exp)/div)

Result of (((4 + 54) * (98 + 23))^3)/4678:  73889014.50021377

There's also a operation which takes the integer part of the result in a division.

In [ ]:
#Example
print("Division entera 13/4: ", 13//4)

Division entera 13/4:  3

And another one, called modulo which returns the reminder of a division

In [ ]:
#Example
print("Modulo 13%4: ", 13%4)

Modulo 13%4:  1

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
#Example
print(4.567/3.978)

1.1480643539467068

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

A list can contain different types of basic variables.

In [ ]:
#Example
#Se crea una lista con distintos tipos de datos
lists = ["Hello", 1, True]
print("List: ", lists)

List:  ['Hello', 1, True]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
#Example
#Se realizan operaciones con la lista
lists = ["Hello", 1, True]
print("List lenght: ", len(lists))
print("First element: ", lists[0])
print("Last element: ", lists[len(lists)-1])

List lenght:  3
First element:  Hello
Last element:  True

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
#Example
#Se cambia el dato del índice 1 por "World"
lists = ["Hello", 1, True]
print(lists)
print(lists[1])
lists[1] = "World"
print(lists[1])
print(lists)

['Hello', 1, True]
1
World
['Hello', 'World', True]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
#Example
#Se imprime una parte de la lista
lists = ["Hello", 1, True, "world", 98, 4.5]
another_list = lists[1:3]
print(another_list)

[1, True]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
#Example
print(lists[2:])

[True, 'world', 98, 4.5]

In [ ]:
#Example
#Error: Be careful to take into account the limits of indexes in the list, if the index chosen is out of the range of the list, the program will return an error.
print(lists[6])

IndexError: ignored

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
#Example
#Se imprimen todos los elementos excepto el índice 4
print(lists[:4])

['Hello', 1, True, 'world']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [ ]:
#Example
lists = ["Hello", 1, True, "world", 98, 4.5]
print(lists)
#Se añade un elemento
lists.append("Happy")
print(lists)
#Se quita un elemento
lists.remove(1)
print(lists)

#Error because the element is not in list
lists.remove('1')
print(lists)

['Hello', 1, True, 'world', 98, 4.5]
['Hello', 1, True, 'world', 98, 4.5, 'Happy']
['Hello', True, 'world', 98, 4.5, 'Happy']

ValueError: ignored

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
#Example
#Se crea una tupla de diferente tipos de datos
the_Tuples = ("I'm", "immutable", ":)", 1, True)
print(the_Tuples)
#Se imprime una parte de la tupla
print(the_Tuples[2:])

("I'm", 'immutable', ':)', 1, True)
(':)', 1, True)

In [ ]:
#Error: Se confirma que no se puede camiar la tupla
the_Tuples[0] = "Hi"
print(the_Tuples)

TypeError: ignored

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

In [ ]:
#Example
#Se quitan los valores repetidos
repeat_list = [1, 2, 3, True, True, 'Hi!', 'Hi', 'Hi!', 2, 56]
set_list = set(repeat_list)
print(set_list)

{'Hi', 1, 2, 3, 'Hi!', 56}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [ ]:
#Example
#Se crea un diccionario
dic_example = {'Nombre':'Juan', 'Edad': 21, 'Profesión': ''}
print(dic_example)

#Se añaden datos (llave y valor) al diccionario
dic_example['Profesión'] = 'Ingeniero'
print(dic_example)

{'Nombre': 'Juan', 'Edad': 21, 'Profesión': ''}
{'Nombre': 'Juan', 'Edad': 21, 'Profesión': 'Ingeniero'}

There's other operation with dictionaries

In [ ]:
#Dictionary's values
print(dic_example.values())

#Dictionary's tuples
print(dic_example.items())

#Look for a value according to its key
print(dic_example.get('Edad'))

dict_values(['Juan', 21, 'Ingeniero'])
dict_items([('Nombre', 'Juan'), ('Edad', 21), ('Profesión', 'Ingeniero')])
21

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
#Example
other_string = "Universidad Nacional de Colombia"
#Se imprime una parte del string
print(other_string[5:14])

rsidad Na

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
#Example
#Se realizan operaciones con strings: contar el número de letras, encontrar un valor y reemplazar un valor por otro respectivamente 
print("Make a sentence with a lot of letters and words to count".count("nt"))
print("These functions are useful to analyze texts".find("y"))
print("There's a lot of other functions to work with strings".replace('functions', 'ways'))

2
34
There's a lot of other ways to work with strings

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
#Example
text = 'Juan.Pedro.Laura.María.Tijuano.Pancarcho'
#Se separa el string por cada punto que encuentre
names = text.split('.')
#Se consulta un valor de la lista obtenida previamente
third_name = names[2]
print("The third name is:", third_name)

The third name is: Laura

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
#Example
#Se realiza una forma de formato a las salidas del programa
print("I want to talk with {}. Atte: {}".format(names[0], names[3]))

I want to talk with Juan. Atte: María

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
#Example
#Otro método de formato
print('%d. Other %s to %s a string'%(1,'ways','format'))

1. Other ways to format a string

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [ ]:
#Example
#Is equal 'p' and 'p'?
print('p' == 'p') #true
#Is equal 'P' and 'p'?
print('P' == 'p') #false
#Is different 1 and 'q'?
print(1 != 'q') #true
#Is 6 is greater or equal than 2?
print(6 >= 2) #true
#Is 6 is greater than 6?
print(6 > 6) #false

True
False
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
#Example
#¿Es igual 'p' a 'p' Y es 6 mayor a 4?
print('p' == 'p' and 6 > 4)
#¿Es igual 'P' a 'p' Y es 6 mayor a 4?
print('P' == 'p' and 6 > 4)
#¿Es igual 1 diferente a 'q' O es 6 menor a 4?
print(1 != 'q' or 6 < 4)

True
False
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
#Example
m = 3
n = 4
p = 6
#¿Es m menor a n-1 y p*m menor o igual a m*n or 1+m*p igual a p/m-1?
print(((m > n-1) and (p*m <= m*n)) or (1+m*p == p/m-1))

False

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
#Example
num_of_items = 4
money = 65
price = 45
#Si el número de elementos por el precio es menor o igual al dinero
if (num_of_items*price) <= money:
      print("Alcanza el dinero")
#Si el número de elementos por el precio es menor o igual al dinero + 10 pesos
elif (num_of_items*price) <= money+10:
      print("Te pueden prestar lo que falta")
else:
      print("No alcanza el dinero")

No alcanza el dinero

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
#Example
count = 0
#Se cuenta hasta 10 de dos en dos unidades
while count <= 10:
  print(count)
  count += 2

0
2
4
6
8
10

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
#Example
#se itera desde 0 hasta 4
for i in range(4):
    print("{}. Hello".format(i))

0. Hello
1. Hello
2. Hello
3. Hello

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
#Example
#Se separan los nombres por cada punto
text = 'Juan.Pedro.Laura.María.Tijuano.Pancarcho'
names = text.split('.')
accepted = ['Juan','Lina','Pedro','Laura']
#Se recorre la primera lista, si el nombre está en la segunda lista, se imprime
for j in names:
    if j in accepted:
        print('¡You were selected %s!'%(j))

¡You were selected Juan!
¡You were selected Pedro!
¡You were selected Laura!

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
#Example
p = 4
m = 2
numbers = [1, 2, 8, 76, 4, 3, 2, 9, 7, 56, 78]
#Se recorre la lista numbers
for i in numbers:
  #Si i es igual a p se rompe el ciclo
    if i == p:
      print("¡Lo encontramos ({})!".format(i))
      break
  #Si i es igual a m se salta la iteración  y no imprime la última línea
    elif i == m:
      print("Encontramos otra cosa que sirve: {}".format(i))
      continue
    print("{} no sirve :(".format(i))

1 no sirve :(
Encontramos otra cosa que sirve: 2
8 no sirve :(
76 no sirve :(
¡Lo encontramos (4)!

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#Example
#Se forman strings de manera comprimida
names = ['Laura', 'Pedro', 'Tina', 'Mateo', 'Sergio']
hello = ["Hello " + i + "!" for i in names]
print(hello)

['Hello Laura!', 'Hello Pedro!', 'Hello Tina!', 'Hello Mateo!', 'Hello Sergio!']

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [ ]:
#Example
ages = [18, 45, 3, 2, 98, 54, 23, 25, 28]
suitable = [i for i in ages if 18 <= i < 50]
print(suitable)

[18, 45, 23, 25, 28]

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
#Example
#Diccionario de contactos
contacts = {'Pedro': [765432, 'School'], 'Martina': ['Work', 876549], 'Cristina': [1234567, 'Home'], 'Mario': [7656425, 'Home']} 
#Se toma la información del contacto
data = [contacts.get(x) for x in contacts]
#Se imprimen solo los datos que sean enteros
print([i for j in data for i in j if isinstance(i , int)])

[765432, 876549, 1234567, 7656425]

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
#Example
def division_parts(x,y):
  return "División: "+str(x/y), "División entera: "+str(x//y), "Residuo: "+str(x%y)

print(division_parts(6,4))

('División: 1.5', 'División entera: 1', 'Residuo: 2')

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
#Example
def return_a_number():
    print("Your number is 5")
return_a_number()

Your number is 5

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [ ]:
#Example
#Se imprimen números del 0 al 10 en dos unidades
numbers_range = range(0,10,2)
for i in numbers_range:
  print(i)
print(numbers_range)

0
2
4
6
8
range(0, 10, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [ ]:
#Example
texts = "Hi welcome to Google Colab"
#Se itera por la longitud del string texts
for i in range(len(texts)):
    if texts[i] == 'e':
      print("Found an 'e'!")

Found an 'e'!
Found an 'e'!
Found an 'e'!

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
#Se imprime el contenido de la lista
print(list)
#Se borra el contenido establecido previamente en list
del list
#Se imprime list para verificar que lo anterior se ejecutó correctamente
list

[1, 2, 3, 4, 5]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
#Se obtiene el número de caracteres de los elementos del arreglo
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
#Se imprime el número de caracteres de los elementos del arreglo
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [6]:
#Example
#Se crea la lista de datos 
data = ['Hola', 'Mundo', 'b', 'nn', 'como', 'estas', 'a']
#Se obtiene el número de caracteres de los elementos del arreglo
list(map(len,data))

[4, 5, 1, 2, 4, 5, 1]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
#En una serie de números de 0 a 9, se utiliza la función lambda para elevar cada elemento al cuadrado 
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
#Example
#Se crea una lista de números
nums = [1, 2, 76, 332, 32, 54, 87, 21, 4]
#De la lista anterior, se divide cada elemento entre 5
list(map(lambda i: i/5, nums))

[0.2, 0.4, 15.2, 66.4, 6.4, 10.8, 17.4, 4.2, 0.8, 1.8]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
#Se suman los correspondientes elementos de ambas listas usando la función lambda
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [11]:
#Example
#Se crean 2 arreglos de enteros
nums1 = [1, 2, 76, 332, 32, 54, 87, 21, 4]
nums2 = [18, 45, 3, 2, 98, 54, 23, 25, 28]
#Se realiza la división entera de los correspondientes elementos de ambas listas usando la función lambda
list(map(lambda j, i: j//i, nums1, nums2))

[0, 0, 25, 166, 0, 1, 3, 0, 0]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
#Se ordena la lista de enteros
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [12]:
#Example
#Se pueden ordenar también letras
sorted(['a', 'f,', 'w', 'b', 'r', 'c', 'z'])

['a', 'b', 'c', 'f,', 'r', 'w', 'z']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
#Se crea una lista de tuplas
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
#Se establece a cada tupla una llave con el segundo elemento de la tupla y se ordenan por llave
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [15]:
#Example
#Se crea una lista de tuplas con números de teléfono y sus correspondientes nombres
contactos = [('Pedro', 65433212),('Andrés',87664554),('Zamir', 6775657),('Ramiro', 746534)]
#Se establece a cada tupla una llave con el nombre del contacto y se ordenan con este criterio
sorted(contactos, key = lambda x: x[0])

[('Andrés', 87664554),
 ('Pedro', 65433212),
 ('Ramiro', 746534),
 ('Zamir', 6775657)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
#Se crean las tuplas
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
#Se ordenan teniendo en cuenta el ejemplo anterior pero de manera descendente
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [16]:
#Example
#Se crea una lista de tuplas con números de teléfono y sus correspondientes nombres
contactos = [('Pedro', 65433212),('Andrés',87664554),('Zamir', 6775657),('Ramiro', 746534)]
#Se ordenan teniendo en cuenta el ejemplo anterior pero de manera descendente 
sorted(contactos, key = lambda x: x[0], reverse = True)

[('Zamir', 6775657),
 ('Ramiro', 746534),
 ('Pedro', 65433212),
 ('Andrés', 87664554)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
#Se crea la lista de tuplas
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
#A diferencia de los ejemplos anteriores la función reordena la lista directamente
price_list.sort(key = lambda x: x[1])
#Se imprime la nueva lista
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [18]:
#Example
#Se crea una lista de tuplas
contactos = [('Pedro', 65433212),('Andrés',87664554),('Zamir', 6775657),('Ramiro', 746534)]
#Se reordena la lista 'contactos'
contactos.sort(key = lambda x: x[0])
#Se imprime la nueva lista
print(contactos)

[('Andrés', 87664554), ('Pedro', 65433212), ('Ramiro', 746534), ('Zamir', 6775657)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
#Se establece la clase stock
class stock:
  #Se establecen los argumentos requeridos para crear el objeto y se establecen sus atributos
    def __init__(self, ticker, open, close, volume):
      #Se establecen los valores iniciales de los atributos del objeto
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
  #Función para actualizar 3 de los 5 atributos del objeto
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 #Función para obtener la información del objeto
    def print_return(self):
        print(self.rate_return)

In [30]:
#Example
#Se establece la clase stock
class carro:
  #Se establecen los argumentos requeridos para crear el objeto y se establecen sus atributos
    def __init__(self, marca, color, placa, puertas, combustible):
      #Se establecen los valores iniciales de los atributos del objeto carro
        self.marca = marca
        self.color = color
        self.placa = placa
        self.puertas = puertas
        self.combustible = combustible
        self.encendido = False
      
  #Función para encender el carro y conducirlo gastando combustible
    def conducir(self):
        self.encendido = True
        self.combustible = self.combustible - 10
        #Si el nivel de combustible es muy bajo se apaga el carro 
        if self.combustible <= 10:
          print("No se puede conducir, poco combustible")
          self.encendido = False
          return
        else:
          print("Carro encendido")
          print("Conduciendo carro")
 #Función para llena el tanque de combustible
    def llenar_combustible(self):
        self.combustible = 100
        print("Tanque de combustible lleno")

    def apagar(self):
        self.encendido = False
        print("Carro apagado")

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
#Se crean dos objetos de tipo stock y se establecen sus atributos
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
#Se llaman los dos métodos para cada uno de los dos objetos creados anteriormente
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [31]:
#Example
#Se crean dos objetos de tipo carro
mi_carro = carro('Mazda', 'Rojo', 'HJF854', 4, 100)
tu_carro = carro('Chevrolet', 'negro', 'KJN233', 2, 50)

#Se llaman los métodos correspondientes al objeto carro

mi_carro.conducir()
#Se verifica el nivel de combustible del carro 'tu_carro' antes y después de llamar el método
print(tu_carro.combustible)
tu_carro.llenar_combustible()
print(tu_carro.combustible)
mi_carro.apagar()

Carro encendido
Conduciendo carro
50
Tanque de combustible lleno
100
Carro apagado

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
#Se añade un nuevo atributo al objeto
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [33]:
#Example
#Se añade un nuevo atributo al objeto carro de la antiguedad del carro en años
mi_carro.antiguedad = 8
mi_carro.antiguedad

tu_carro.antiguedad = 45
tu_carro.antiguedad

45

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
#Se utiliza la función dir para la exploración del objeto
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [34]:
#Example
#Se utiliza la función dir para la exploración del objeto
dir(mi_carro)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'antiguedad',
 'apagar',
 'color',
 'combustible',
 'conducir',
 'encendido',
 'llenar_combustible',
 'marca',
 'placa',
 'puertas']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
#Se crea una nueva clase heredada de la clase 'stock'
class child(stock):
  #Se establece el atributo del objeto
    def __init__(self,name):
        self.name = name

In [ ]:
#Se crea un objeto
aa = child('aa')
#Se imprime el nombre
print(aa.name)
#Se llama al método heredado de la clase padre para actualizar atributos
aa.update(100,102)
#Se imprimen atributos y métodos de la clase padre
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [36]:
#Example
#Se crea una clase hija que hereda los atributos y métodos de la clase 'carro'
class carro_pequeno(carro):
  #Se establece el atributo del carro pequeño el tamaño en centrímetros
    def __init__(self, tamano):
        self.tamano = tamano

In [41]:
#Example
#Se crea un objeto 'carro pequeno'
carrito = carro_pequeno(30)
#Se establece su atributo 'combustible'
carrito.combustible = 10
#Se llaman atributos de la clase carro
carrito.conducir()
carrito.llenar_combustible()
carrito.combustible

No se puede conducir, poco combustible
Tanque de combustible lleno

100

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [42]:
#Se importa la librería numpy para llamar las funciones correspondiente
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
#Se crea un arreglo de números
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
#Se convierte el arreglo en un arreglo de la librería NumPy
price_array = np.array(price_list)
#Se imprime la lista y el tipo de la lista
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [43]:
#Example
#Se crea un arreglo de strings
colors_hats = ['blue','green','red','black','white']
#Se convierte el arreglo en un arreglo de la librería NumPy
colors_hats = np.array(colors_hats)
#Se imprime la lista y el tipo de la lista
print(colors_hats, type(colors_hats))

['blue' 'green' 'red' 'black' 'white'] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
#Se crea un arreglo multidimensional de tipo NumPy
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [54]:
#Example
#Se crean distintos arreglos
ar1 = ['h','j']
ar2 = ['a','b']
ar3 = ['p','k']

#Cuando los arreglos no tienen el mismo tamaño, se genera un warning
multiAr = np.array([ar1,ar2,ar3,'o'])
print(multiAr, type(multiAr))

#Se crea un arreglo multidimensional con los arreglos previamente creados
multiAr = np.array([ar1,ar2,ar3])
print(multiAr, type(multiAr))

[list(['h', 'j']) list(['a', 'b']) list(['p', 'k']) 'o'] <class 'numpy.ndarray'>
[['h' 'j']
 ['a' 'b']
 ['p' 'k']] <class 'numpy.ndarray'>

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
#La librería tiene un atributo llamado 'shape' que devuelve las dimensiones del arreglo
print(Ar.shape)

(2, 2)

In [55]:
#Example
#Se obtienen las dimensiones del arreglo
print(multiAr.shape)

(3, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
#Se acceden a los índices del arreglo
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [56]:
#Example
#Se acceden a los índices del arreglo
print(multiAr[0])
print(multiAr[1])
print(multiAr[2])

['h' 'j']
['a' 'b']
['p' 'k']

If we want to access the matrix by column instead:

In [ ]:
#Se imprimen las columnas del arreglo
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [59]:
#Example
#Se puede acceder de diferentes maneras al arreglo
print('the first column: ', multiAr[:1,0])
print('the second column: ', multiAr[:,1])

the first column:  ['h']
the second column:  ['j' 'b' 'k']

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
#Se calcula ln() de cada elemento de un arreglo establecido previamente
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
#Calcula el promedio de los elementos del arreglo
print(np.mean(price_array))
#Calcula la desviación estándar de los elementos del arreglo
print(np.std(price_array))
#Calcula la suma de los elementos del arreglo
print(np.sum(price_array))
#Calcula el valor máximo de los elementos del arreglo
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [63]:
#Example
#ln()
print(np.log(nums1))
#Promedio
print("Promedio: ", np.mean(nums1))
#Desviación estándar
print("Desviación estándar: ", np.std(nums1))
#Suma
print("Suma: ", np.sum(nums1))
#Valor máximo
print("Valor máximo: ", np.max(nums1))
#Valor mínimo
print("Valor máximo: ", np.min(nums1))
#Mediana
print("Mediana: ", np.median(nums1))

[0.         0.69314718 4.33073334 5.80513497 3.4657359  3.98898405
 4.46590812 3.04452244 1.38629436]
Promedio:  67.66666666666667
Desviación estándar:  98.18463333038535
Suma:  609
Valor máximo:  332
Valor máximo:  1
Mediana:  32.0

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [65]:
#Se importa la librería pandas
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
#Se crea un arreglo
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
#Se crea un tipo de arreglo llamado 'Series'
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [84]:
#Example
#Se crea un diccionario
contacts = {'Pedro': [765432, 'School'], 'Martina': ['Work', 876549], 'Cristina': [1234567, 'Home'], 'Mario': [7656425, 'Home']}

#Se crea una 'Series' al diccionario donde el índice es el nombre del contacto
serie = pd.Series(contacts)
#Se imprime el arreglo
serie

Pedro       [765432, School]
Martina       [Work, 876549]
Cristina     [1234567, Home]
Mario        [7656425, Home]
dtype: object

We can customize the indices of a new Series:

In [ ]:
#Se cambia el índice de la 'Series' de cambia a letras
s = pd.Series(price,index = ['a','b','c','d','e','f'])
#Se imprime el arreglo
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [85]:
#Example
#Se cambia el índice de la 'Series' de cambia a números
serieindex = pd.Series(contacts,index = [1,2,3,4])
#Se imprime el arreglo, donde se puede ver que se pierden los valores del diccionario
serieindex

1    NaN
2    NaN
3    NaN
4    NaN
dtype: object

Or we can change the indices of an existing Series:

In [ ]:
#Se cambian los índices del arreglo
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [86]:
#Example
#Se cambian los índices del arreglo
serie.index = [1,2,3,4]
#Cambian las llaves del diccionario
serie

1    [765432, School]
2      [Work, 876549]
3     [1234567, Home]
4     [7656425, Home]
dtype: object

Series is like a list since it can be sliced by index:

In [ ]:
#Se muestran partes del arreglo
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [79]:
#Example
#Se muestran partes del arreglo
print(serie[:3])
print(serie[:-3])

1    [765432, School]
2      [Work, 876549]
3     [1234567, Home]
dtype: object
1    [765432, School]
dtype: object

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
#Se cambia el valor de un valor específico del arreglo
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [87]:
#Example
#Se cambia el valor de un valor específico del arreglo
print(serie[4])
serie[4] = [76543, 'Home', 24356]
print(serie)

[7656425, 'Home']
1        [765432, School]
2          [Work, 876549]
3         [1234567, Home]
4    [76543, Home, 24356]
dtype: object

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
#Se agrega el nombre del arreglo
s = pd.Series(price, name = 'Apple Price List')
print(s)
#Se imprime el nombre del arreglo
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [ ]:
#Se imprime un resumen estadístico del arreglo
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [91]:
#Example
#Se agrega un nombre al arreglo
serie = pd.Series(contacts, name = 'Contactos de teléfono')
#Se imprime el arreglo
print(serie)
#Se imprime el nombre del arreglo
print(serie.name)

#Se imprime un resumen estadístico del arreglo correspondiente al tipo de datos en el arreglo
print(serie.describe())

Pedro       [765432, School]
Martina       [Work, 876549]
Cristina     [1234567, Home]
Mario        [7656425, Home]
Name: Contactos de teléfono, dtype: object
Contactos de teléfono
count                    4
unique                   4
top       [765432, School]
freq                     1
Name: Contactos de teléfono, dtype: object

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
#Se crea una tabla con índices de tipo fecha
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
#Se imprime el arreglo
print(time_index)
#Se cambia el índice de la 'Serie' anterior
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [95]:
#Example
#Se crea una tabla con índices de tipo fecha
time = pd.date_range('2022-03-15',periods = len(serie))
#Se imprime el arreglo
print(time)
#Se cambia el índice de la 'Serie' anterior
serie.index = time
print(serie)

DatetimeIndex(['2022-03-15', '2022-03-16', '2022-03-17', '2022-03-18'], dtype='datetime64[ns]', freq='D')
2022-03-15    [765432, School]
2022-03-16      [Work, 876549]
2022-03-17     [1234567, Home]
2022-03-18     [7656425, Home]
Freq: D, Name: Contactos de teléfono, dtype: object

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
#Se realiza el cambio de índice de la misma manera que antes
s.index = [6,5,4,3,2,1]
print(s)
#Se accede al elemento con el índice 1
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [98]:
#Se realiza el cambio de índice de la misma manera que antes para ilustrar
serie.index = [1,2,3,4]
print(serie)
#Se accede al elemento con el índice 1
print(serie[1])

1    [765432, School]
2      [Work, 876549]
3     [1234567, Home]
4     [7656425, Home]
Name: Contactos de teléfono, dtype: object
[765432, 'School']

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
#Se accede al segundo valor del arreglo teniendo en cuenta la numeración estándar (0-N-1)
print(s.iloc[1])

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
#Se accede a los índices utilizando índices de fechas
s.index = time_index
print(s['2017-01-03'])

143.68

We can even access to a range of dates:

In [ ]:
#Se escoge un rango de índices de tipo fecha para acceder
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [101]:
#Example
#Se imprime el último elemento del arreglo
print(serie.iloc[-1])

#Se utilizan los índices de tipo fecha
serie.index = time
print(serie['2022-03-16'])
#Se imprime un rango de elementos
print(serie['2022-03-16':'2022-03-18'])

[7656425, 'Home']
['Work', 876549]
2022-03-16     [Work, 876549]
2022-03-17    [1234567, Home]
2022-03-18    [7656425, Home]
Freq: D, Name: Contactos de teléfono, dtype: object

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
#Se imprimen los valores menores al promedio del arreglo
print(s[s < np.mean(s)] )
#Se evalúa si el valor es mayor al promedio del arreglo y menor al promedio + 1.64*la desviación estándar del arreglo
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [111]:
#Example
#Se crea un arreglo
dta = [256.73, 256.83, 255.68, 256.12]
#Se crea un tipo de arreglo llamado 'Series'
serie1 = pd.Series(dta)
serie1

#Se utilizan los índices de tipo fecha
serie1.index = time

#Se imprimen los valores menores al promedio del arreglo
print(serie1[serie1 < np.median(serie1)] )
#Se evalúa si el valor es mayor al promedio del arreglo y menor al promedio + 1.64*la desviación estándar del arreglo
print([(serie1 > np.mean(serie1)) & (serie1 > np.mean(serie1) - np.max(serie1))])

2022-03-17    255.68
2022-03-18    256.12
Freq: D, dtype: float64
[2022-03-15     True
2022-03-16     True
2022-03-17    False
2022-03-18    False
Freq: D, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [112]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 11.1 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.6 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [ ]:
#Se importa la librería
import yfinance as yf


aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.36, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.89, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.293, 'beta3Year': None, 'enterpriseToEbitda': 22.821, '52WeekChange': 0.29239464, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58671004, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.33635402, 'priceToBook': 38.217415, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16513139929, 'beta': 1.222222, 'enterpriseValue': 2531665379328, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.064338, 'dateShortInterest': 1632960000, 'pegRatio': 1.34, 'ytdReturn': None, 'forwardPE': 26.119719, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 148.69, 'regularMarketOpen': 148.68, 'twoHundredDayAverage': 139.49467, 'trailingAnnualDividendYield': 0.0056157103, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.37, 'navPrice': None, 'averageDailyVolume10Day': 68088783, 'regularMarketPreviousClose': 148.69, 'fiftyDayAverage': 145.9303, 'trailingAnnualDividendRate': 0.835, 'open': 148.68, 'toCurrency': None, 'averageVolume10days': 68088783, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 147.92, 'currency': 'USD', 'trailingPE': 29.044638, 'regularMarketVolume': 10036145, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2452420296704, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75838454, 'dayLow': 147.92, 'ask': 148.39, 'askSize': 1200, 'volume': 10036145, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.38, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 900, 'dayHigh': 149.37, 'regularMarketPrice': 148.36, 'preMarketPrice': 148.69, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655163  24.291439  23.514536  ...  270597600        0.0             0
2016-01-05  24.379045  24.402098  23.609059  ...  223164000        0.0             0
2016-01-06  23.182573  23.599842  23.023505  ...  273829600        0.0             0
2016-01-07  22.749158  23.083433  22.230456  ...  324377600        0.0             0
2016-01-08  22.719195  22.848294  22.306538  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898682  41.059116  40.630492  ...  132742000        0.0             0
2017-12-27  40.731054  40.893880  40.637667  ...   85992800        0.0             0
2017-12-28  40.946572  41.150109  40.822055  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

In [3]:
#Example
#Se importa la librería
import yfinance as yf

dat = yf.Ticker("GOOG")

#Se obtiene la información correspondiente
print(dat.info)

#Se obtiene los datos históricos del mercado
table = dat.history(start="2016-01-01",  end="2017-12-31")
table

{'zip': '94043', 'sector': 'Communication Services', 'fullTimeEmployees': 156500, 'longBusinessSummary': 'Alphabet Inc. provides online advertising services in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. The company offers performance and brand advertising services. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, such as ads, Android, Chrome, Google Maps, Google Play, Search, and YouTube; subscription-based products; and Fitbit wearable devices, Google Nest home products, Pixel phones, and other devices, as well as in-app purchases and digital content. The Google Cloud segment offers infrastructure, platform, and other services; Google Workspace that include cloud-based collaboration tools for enterprises, such as Gmail, Docs, Drive, Calendar and Meet; and other services for enterprise customers. The Other Bets segment sells health technology and internet services, as well as licensing and research and development services. The company was incorporated in 1998 and is headquartered in Mountain View, California.', 'city': 'Mountain View', 'phone': '650 253 0000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.abc.xyz', 'maxAge': 1, 'address1': '1600 Amphitheatre Parkway', 'industry': 'Internet Content & Information', 'ebitdaMargins': 0.35377, 'profitMargins': 0.29512, 'grossMargins': 0.5694, 'operatingCashflow': 91651997696, 'revenueGrowth': 0.324, 'operatingMargins': 0.30552, 'ebitda': 91144003584, 'targetLowPrice': 3150, 'recommendationKey': 'strong_buy', 'grossProfits': 146698000000, 'freeCashflow': 49490001920, 'targetMedianPrice': 3485, 'currentPrice': 2593.21, 'earningsGrowth': 0.377, 'currentRatio': 2.928, 'returnOnAssets': 0.14493, 'numberOfAnalystOpinions': 10, 'targetMeanPrice': 3463.5, 'debtToEquity': 11.329, 'returnOnEquity': 0.32069, 'targetHighPrice': 3900, 'totalCash': 139649007616, 'totalDebt': 28508000256, 'totalRevenue': 257637007360, 'totalCashPerShare': 211.278, 'financialCurrency': 'USD', 'revenuePerShare': 385.886, 'quickRatio': 2.8, 'recommendationMean': 1.5, 'exchange': 'NMS', 'shortName': 'Alphabet Inc.', 'longName': 'Alphabet Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'GOOG', 'messageBoardId': 'finmb_29096', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.072, 'beta3Year': None, 'enterpriseToEbitda': 17.163, '52WeekChange': 0.24012947, 'morningStarRiskRating': None, 'forwardEps': 136.06, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 315639008, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 380.044, 'sharesShort': 1771392, 'sharesPercentSharesOut': 0.0027, 'fundFamily': None, 'lastFiscalYearEnd': 1640908800, 'heldPercentInstitutions': 0.66253996, 'netIncomeToCommon': 76032999424, 'trailingEps': 112.197, 'lastDividendValue': None, 'SandP52WeekChange': 0.072551966, 'priceToBook': 6.8234468, 'heldPercentInsiders': 0.00034000003, 'nextFiscalYearEnd': 1703980800, 'yield': None, 'mostRecentQuarter': 1640908800, 'shortRatio': 0.93, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 573571083, 'beta': 1.06496, 'enterpriseValue': 1564302376960, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1430092800, 'lastSplitFactor': '10027455:10000000', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.356, 'priceToSalesTrailing12Months': 6.832358, 'dateShortInterest': 1646006400, 'pegRatio': 1.6, 'ytdReturn': None, 'forwardPE': 19.059313, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': 1400466, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 2534.82, 'regularMarketOpen': 2554.83, 'twoHundredDayAverage': 2758.3428, 'trailingAnnualDividendYield': 0, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 2610.345, 'navPrice': None, 'averageDailyVolume10Day': 1431210, 'regularMarketPreviousClose': 2534.82, 'fiftyDayAverage': 2703.34, 'trailingAnnualDividendRate': 0, 'open': 2554.83, 'toCurrency': None, 'averageVolume10days': 1431210, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 2531.36, 'currency': 'USD', 'trailingPE': 23.113007, 'regularMarketVolume': 1514630, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 1760268255232, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 1544743, 'dayLow': 2531.36, 'ask': 2601.21, 'askSize': 800, 'volume': 1514630, 'fiftyTwoWeekHigh': 3042, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 2010.73, 'bid': 2593.21, 'tradeable': False, 'dividendYield': None, 'bidSize': 800, 'dayHigh': 2610.345, 'regularMarketPrice': 2593.21, 'preMarketPrice': 2553.42, 'logo_url': 'https://logo.clearbit.com/abc.xyz', 'trailingPegRatio': 0.9445}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,743.000000,744.059998,731.257996,741.840027,3272800,0,0
2016-01-05,746.450012,752.000000,738.640015,742.580017,1950700,0,0
2016-01-06,730.000000,747.179993,728.919983,743.619995,1947000,0,0
2016-01-07,730.309998,738.500000,719.059998,726.390015,2963700,0,0
2016-01-08,731.450012,733.229980,713.000000,714.469971,2450900,0,0
...,...,...,...,...,...,...,...
2017-12-22,1061.109985,1064.199951,1059.439941,1060.119995,755100,0,0
2017-12-26,1058.069946,1060.119995,1050.199951,1056.739990,760600,0,0
2017-12-27,1057.390015,1058.369995,1048.050049,1049.369995,1271900,0,0
2017-12-28,1051.599976,1054.750000,1044.770020,1048.140015,837100,0,0
2017-12-29,1046.719971,1049.699951,1044.900024,1046.400024,887500,0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
#Se crea una 'Serie' con datos específicos deseados
aapl = aapl_table['Close']['2017']

In [ ]:
#Se imprimen los valores
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
#Se filtran los datos por fecha
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889839
2017-03-03    33.083920
2017-03-06    32.979778
2017-03-07    33.022373
2017-03-08    32.899296
2017-03-09    32.823563
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896942
2017-03-15    33.244865
2017-03-16    33.299305
2017-03-17    33.133617
2017-03-20    33.481544
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287464
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111141
2017-03-30    34.066158
2017-03-31    34.002254
Name: Close, dtype: float64

In [ ]:
#Se filtra por un rango de fechas
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289885
2017-02-03    30.419493
2017-02-06    30.704651
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208179
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [7]:
#Example
#Se crea una 'Serie' con datos específicos deseados
dat = table['Open']['2016']
print(dat)
#Se filtran los datos por fecha
print(dat['2016-2'])
#Se filtra por un rango de fechas
dat['2016':'2017-5']

Date
2016-01-04    743.000000
2016-01-05    746.450012
2016-01-06    730.000000
2016-01-07    730.309998
2016-01-08    731.450012
                 ...
2016-12-23    790.900024
2016-12-27    790.679993
2016-12-28    793.700012
2016-12-29    783.330017
2016-12-30    782.750000
Name: Open, Length: 252, dtype: float64
Date
2016-02-01    750.460022
2016-02-02    784.500000
2016-02-03    770.219971
2016-02-04    722.809998
2016-02-05    703.869995
2016-02-08    667.849976
2016-02-09    672.320007
2016-02-10    686.859985
2016-02-11    675.000000
2016-02-12    690.260010
2016-02-16    692.979980
2016-02-17    698.090027
2016-02-18    710.000000
2016-02-19    695.030029
2016-02-22    707.450012
2016-02-23    701.450012
2016-02-24    688.919983
2016-02-25    700.010010
2016-02-26    708.580017
2016-02-29    700.320007
Name: Open, dtype: float64

Date
2016-01-04    743.000000
2016-01-05    746.450012
2016-01-06    730.000000
2016-01-07    730.309998
2016-01-08    731.450012
                 ...
2016-12-23    790.900024
2016-12-27    790.679993
2016-12-28    793.700012
2016-12-29    783.330017
2016-12-30    782.750000
Name: Open, Length: 252, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
#Se acceden a elementos por la cola o por la cabeza
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244392
2017-12-19    41.794228
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64

In [9]:
#Example
#Se acceden a elementos por la cola o por la cabeza
print(dat.head(40))
print(dat.tail(-3))

Date
2016-01-04    743.000000
2016-01-05    746.450012
2016-01-06    730.000000
2016-01-07    730.309998
2016-01-08    731.450012
2016-01-11    716.609985
2016-01-12    721.679993
2016-01-13    730.849976
2016-01-14    705.380005
2016-01-15    692.289978
2016-01-19    703.299988
2016-01-20    688.609985
2016-01-21    702.179993
2016-01-22    723.599976
2016-01-25    723.580017
2016-01-26    713.849976
2016-01-27    713.669983
2016-01-28    722.219971
2016-01-29    731.530029
2016-02-01    750.460022
2016-02-02    784.500000
2016-02-03    770.219971
2016-02-04    722.809998
2016-02-05    703.869995
2016-02-08    667.849976
2016-02-09    672.320007
2016-02-10    686.859985
2016-02-11    675.000000
2016-02-12    690.260010
2016-02-16    692.979980
2016-02-17    698.090027
2016-02-18    710.000000
2016-02-19    695.030029
2016-02-22    707.450012
2016-02-23    701.450012
2016-02-24    688.919983
2016-02-25    700.010010
2016-02-26    708.580017
2016-02-29    700.320007
2016-03-01    703.619995
Name: Open, dtype: float64
Date
2016-01-07    730.309998
2016-01-08    731.450012
2016-01-11    716.609985
2016-01-12    721.679993
2016-01-13    730.849976
                 ...
2016-12-23    790.900024
2016-12-27    790.679993
2016-12-28    793.700012
2016-12-29    783.330017
2016-12-30    782.750000
Name: Open, Length: 249, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
#Se filtran datos estadísticos según se requiera
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233914
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [10]:
#Example
#Se filtra promedio por año
by_year = dat.resample('Y').mean()
print(by_year)

Date
2016-12-31    743.732459
Freq: A-DEC, Name: Open, dtype: float64

We can also aggregate the data by week:

In [ ]:
#Se filtra promedio por semana
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266116
2017-01-29    28.553982
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [11]:
#Example
#Se filtra promedio por semana
by_day = dat.resample('D').mean()
print(by_day)

Date
2016-01-04    743.000000
2016-01-05    746.450012
2016-01-06    730.000000
2016-01-07    730.309998
2016-01-08    731.450012
                 ...
2016-12-26           NaN
2016-12-27    790.679993
2016-12-28    793.700012
2016-12-29    783.330017
2016-12-30    782.750000
Freq: D, Name: Open, Length: 362, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
#Se calcula el máximo por mes
aapl.resample('M').max()

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

In [12]:
#Example
#Se calcula el mínimo por semana
dat.resample('W').min()

Date
2016-01-10    730.000000
2016-01-17    692.289978
2016-01-24    688.609985
2016-01-31    713.669983
2016-02-07    703.869995
2016-02-14    667.849976
2016-02-21    692.979980
2016-02-28    688.919983
2016-03-06    700.320007
2016-03-13    688.590027
2016-03-20    726.369995
2016-03-27    732.010010
2016-04-03    734.590027
2016-04-10    735.770020
2016-04-17    738.000000
2016-04-24    726.299988
2016-05-01    690.700012
2016-05-08    690.489990
2016-05-15    711.929993
2016-05-22    701.619995
2016-05-29    706.530029
2016-06-05    729.270020
2016-06-12    719.469971
2016-06-19    708.650024
2016-06-26    675.169983
2016-07-03    671.000000
2016-07-10    689.979980
2016-07-17    708.049988
2016-07-24    722.710022
2016-07-31    738.280029
2016-08-07    761.090027
2016-08-14    781.099976
2016-08-21    775.000000
2016-08-28    767.000000
2016-09-04    767.010010
2016-09-11    770.099976
2016-09-18    755.130005
2016-09-25    769.000000
2016-10-02    775.500000
2016-10-09    774.250000
2016-10-16    777.710022
2016-10-23    779.799988
2016-10-30    801.000000
2016-11-06    750.659973
2016-11-13    756.539978
2016-11-20    746.969971
2016-11-27    762.609985
2016-12-04    744.590027
2016-12-11    757.710022
2016-12-18    785.039978
2016-12-25    790.219971
2017-01-01    782.750000
Freq: W-SUN, Name: Open, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
#Se calcula el promedio para distintas frecuencias
#Cada 3 días
three_day = aapl.resample('3D').mean()
#Cada dos semanas
two_week = aapl.resample('2W').mean()
#Dos meses
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019310
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496181
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840876
2017-10-15    37.071593
2017-10-29    37.757321
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867067
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [15]:
#Example
#Se calcula la desviación estándar para distintas frecuencias
#Cada 7 días
seven_day = dat.resample('7D').std()
#Cada dos semanas
fourteen_week = dat.resample('14W').std()
#Dos meses
three_month = dat.resample('3M').std()


print(seven_day)
print(fourteen_week)
print(three_month)

Date
2016-01-04     7.857933
2016-01-11    14.944146
2016-01-18    14.423361
2016-01-25     7.481207
2016-02-01    33.169151
2016-02-08     9.644217
2016-02-15     7.611983
2016-02-22     7.838544
2016-02-29     8.759432
2016-03-07    11.710761
2016-03-14     7.087946
2016-03-21     4.245148
2016-03-28     7.274863
2016-04-04     5.766370
2016-04-11     7.024179
2016-04-18    16.336025
2016-04-25    12.814565
2016-05-02     3.244206
2016-05-09     4.714188
2016-05-16     6.039980
2016-05-23     8.761033
2016-05-30     2.173403
2016-06-06     2.445023
2016-06-13     3.896802
2016-06-20    10.415428
2016-06-27     7.860981
2016-07-04     4.194624
2016-07-11     6.915357
2016-07-18     8.011692
2016-07-25    14.482526
2016-08-01     4.958850
2016-08-08     1.649096
2016-08-15     3.305831
2016-08-22     3.368153
2016-08-29     2.189983
2016-09-05     4.588249
2016-09-12     5.459442
2016-09-19     7.089274
2016-09-26     3.177364
2016-10-03     2.387592
2016-10-10     3.307107
2016-10-17     9.194823
2016-10-24     5.816777
2016-10-31    16.911204
2016-11-07    12.992251
2016-11-14     9.826493
2016-11-21     4.429498
2016-11-28    10.905641
2016-12-05     9.032131
2016-12-12     5.929562
2016-12-19     2.937610
2016-12-26     5.429882
Freq: 7D, Name: Open, dtype: float64
Date
2016-01-10     7.857933
2016-04-17    23.869294
2016-07-24    19.656348
2016-10-30    14.587637
2017-02-05    15.759623
Freq: 14W-SUN, Name: Open, dtype: float64
Date
2016-01-31    15.808317
2016-04-30    25.983415
2016-07-31    19.072527
2016-10-31    12.098782
2017-01-31    15.640532
Freq: 3M, Name: Open, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
#Se calcula la desviación estándar
std = aapl.resample('W').std()
#Se calcula el valor máximo
max = aapl.resample('W').max()
#Se calcula el valor mínimo
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [17]:
#Example
#Se calcula la desviación estándar
std = dat.resample('D').std()
#Se calcula la mediana
med = dat.resample('W').median()
#Se calcula el valor mínimo
min = dat.resample('M').min()
#Se calcula el valor máximo
max = dat.resample('Y').max()

print(std)
print(med)
print(max)
print(min)

Date
2016-01-04   NaN
2016-01-05   NaN
2016-01-06   NaN
2016-01-07   NaN
2016-01-08   NaN
              ..
2016-12-26   NaN
2016-12-27   NaN
2016-12-28   NaN
2016-12-29   NaN
2016-12-30   NaN
Freq: D, Name: Open, Length: 362, dtype: float64
Date
2016-01-10    731.450012
2016-01-17    716.609985
2016-01-24    702.739990
2016-01-31    722.219971
2016-02-07    750.460022
2016-02-14    675.000000
2016-02-21    696.560028
2016-02-28    701.450012
2016-03-06    714.989990
2016-03-13    706.900024
2016-03-20    726.919983
2016-03-27    736.980011
2016-04-03    738.599976
2016-04-10    743.969971
2016-04-17    749.159973
2016-04-24    758.000000
2016-05-01    708.260010
2016-05-08    697.630005
2016-05-15    716.750000
2016-05-22    703.669983
2016-05-29    720.760010
2016-06-05    732.119995
2016-06-12    722.869995
2016-06-19    716.479980
2016-06-26    698.400024
2016-07-03    683.000000
2016-07-10    697.070007
2016-07-17    721.580017
2016-07-24    737.330017
2016-07-31    740.669983
2016-08-07    768.690002
2016-08-14    782.000000
2016-08-21    780.010010
2016-08-28    770.580017
2016-09-04    769.250000
2016-09-11    776.020020
2016-09-18    762.890015
2016-09-25    772.659973
2016-10-02    777.849976
2016-10-09    779.000000
2016-10-16    781.650024
2016-10-23    795.000000
2016-10-30    806.340027
2016-11-06    778.200012
2016-11-13    779.940002
2016-11-20    755.599976
2016-11-27    765.994995
2016-12-04    760.000000
2016-12-11    764.729980
2016-12-18    797.340027
2016-12-25    792.359985
2017-01-01    787.005005
Freq: W-SUN, Name: Open, dtype: float64
Date
2016-12-31    816.679993
Freq: A-DEC, Name: Open, dtype: float64
Date
2016-01-31    688.609985
2016-02-29    667.849976
2016-03-31    688.590027
2016-04-30    690.700012
2016-05-31    690.489990
2016-06-30    671.000000
2016-07-31    689.979980
2016-08-31    761.090027
2016-09-30    755.130005
2016-10-31    774.250000
2016-11-30    746.969971
2016-12-31    744.590027
Freq: M, Name: Open, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
#Se puede consultar los valores de una posición específica, en este caso, el último por mes
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [18]:
#Example
#Se consulta el penúltimo valor por semana
penultimate_day = dat.resample('W').agg(lambda x: x[-2])
print(penultimate_day)

Date
2016-01-10    730.309998
2016-01-17    705.380005
2016-01-24    702.179993
2016-01-31    722.219971
2016-02-07    722.809998
2016-02-14    675.000000
2016-02-21    710.000000
2016-02-28    700.010010
2016-03-06    718.679993
2016-03-13    708.119995
2016-03-20    736.450012
2016-03-27    742.359985
2016-04-03    749.250000
2016-04-10    745.369995
2016-04-17    754.010010
2016-04-24    755.380005
2016-05-01    708.260010
2016-05-08    697.700012
2016-05-15    717.059998
2016-05-22    702.359985
2016-05-29    722.869995
2016-06-05    732.500000
2016-06-12    722.869995
2016-06-19    714.909973
2016-06-26    697.450012
2016-07-03    685.469971
2016-07-10    698.080017
2016-07-17    721.580017
2016-07-24    740.359985
2016-07-31    747.039978
2016-08-07    772.219971
2016-08-14    785.000000
2016-08-21    780.010010
2016-08-28    767.000000
2016-09-04    769.250000
2016-09-11    778.590027
2016-09-18    762.890015
2016-09-25    780.000000
2016-10-02    781.440002
2016-10-09    779.000000
2016-10-16    781.219971
2016-10-23    803.299988
2016-10-30    801.000000
2016-11-06    767.250000
2016-11-13    791.169983
2016-11-20    766.919983
2016-11-27    767.729980
2016-12-04    757.440002
2016-12-11    772.479980
2016-12-18    797.340027
2016-12-25    792.359985
2017-01-01    783.330017
Freq: W-SUN, Name: Open, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
#Se obtiene la tasa mensual calculando directamente
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [19]:
#Example
#Se obtiene la tasa semanal calculando directamente
weekly_return = dat.resample('W').agg(lambda x: x[-1]/x[0] - 1)
print(weekly_return)

Date
2016-01-10   -0.015545
2016-01-17   -0.033938
2016-01-24    0.028864
2016-01-31    0.010987
2016-02-07   -0.062082
2016-02-14    0.033555
2016-02-21    0.002958
2016-02-28    0.001597
2016-03-06    0.020948
2016-03-13    0.018532
2016-03-20    0.020707
2016-03-27   -0.006096
2016-04-03    0.002457
2016-04-10   -0.008119
2016-04-17    0.014751
2016-04-24   -0.044920
2016-05-01   -0.035470
2016-05-08    0.001075
2016-05-15   -0.000098
2016-05-22   -0.010590
2016-05-29    0.024741
2016-06-05   -0.003375
2016-06-12   -0.007504
2016-06-19   -0.010970
2016-06-26   -0.033774
2016-07-03    0.031595
2016-07-10    0.004942
2016-07-17    0.024970
2016-07-24    0.026497
2016-07-31    0.043258
2016-08-07    0.016673
2016-08-14   -0.000639
2016-08-21   -0.011164
2016-08-28   -0.005522
2016-09-04    0.005555
2016-09-11   -0.004331
2016-09-18    0.019361
2016-09-25    0.018345
2016-10-02   -0.008189
2016-10-09    0.006987
2016-10-16    0.005066
2016-10-23    0.019492
2016-10-30    0.004286
2016-11-06   -0.056331
2016-11-13   -0.023189
2016-11-20    0.020871
2016-11-27    0.002164
2016-12-04   -0.020276
2016-12-11    0.029418
2016-12-18    0.019566
2016-12-25    0.000861
2017-01-01   -0.010029
Freq: W-SUN, Name: Open, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
#Se calcula el promedio mensual
print(monthly_return.mean())
#Se calcula la desviación estándar mensual
print(monthly_return.std())
#Se calcula el valor máximo mensual
print(monthly_return.max())

0.02686331860727394
0.052258487776588924
0.09901841642506737

In [ ]:
#Example
#Se calcula el promedio mensual
print(weekly_return.mean())
#Se calcula la desviación estándar mensual
print(weekly_return.std())
#Se calcula el valor máximo mensual
print(weekly_return.max())

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
#Se calcula la diferencia entre dos elementos
print(last_day.diff())
#Se calcula el porcentaje de cambio entre dos elementos
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [20]:
#Example
#Se calcula la diferencia entre dos elementos
print(penultimate_day.diff())
#Se calcula el porcentaje de cambio entre dos elementos
print(penultimate_day.pct_change())

Date
2016-01-10          NaN
2016-01-17   -24.929993
2016-01-24    -3.200012
2016-01-31    20.039978
2016-02-07     0.590027
2016-02-14   -47.809998
2016-02-21    35.000000
2016-02-28    -9.989990
2016-03-06    18.669983
2016-03-13   -10.559998
2016-03-20    28.330017
2016-03-27     5.909973
2016-04-03     6.890015
2016-04-10    -3.880005
2016-04-17     8.640015
2016-04-24     1.369995
2016-05-01   -47.119995
2016-05-08   -10.559998
2016-05-15    19.359985
2016-05-22   -14.700012
2016-05-29    20.510010
2016-06-05     9.630005
2016-06-12    -9.630005
2016-06-19    -7.960022
2016-06-26   -17.459961
2016-07-03   -11.980042
2016-07-10    12.610046
2016-07-17    23.500000
2016-07-24    18.779968
2016-07-31     6.679993
2016-08-07    25.179993
2016-08-14    12.780029
2016-08-21    -4.989990
2016-08-28   -13.010010
2016-09-04     2.250000
2016-09-11     9.340027
2016-09-18   -15.700012
2016-09-25    17.109985
2016-10-02     1.440002
2016-10-09    -2.440002
2016-10-16     2.219971
2016-10-23    22.080017
2016-10-30    -2.299988
2016-11-06   -33.750000
2016-11-13    23.919983
2016-11-20   -24.250000
2016-11-27     0.809998
2016-12-04   -10.289978
2016-12-11    15.039978
2016-12-18    24.860046
2016-12-25    -4.980042
2017-01-01    -9.029968
Freq: W-SUN, Name: Open, dtype: float64
Date
2016-01-10         NaN
2016-01-17   -0.034136
2016-01-24   -0.004537
2016-01-31    0.028540
2016-02-07    0.000817
2016-02-14   -0.066145
2016-02-21    0.051852
2016-02-28   -0.014070
2016-03-06    0.026671
2016-03-13   -0.014694
2016-03-20    0.040007
2016-03-27    0.008025
2016-04-03    0.009281
2016-04-10   -0.005179
2016-04-17    0.011592
2016-04-24    0.001817
2016-05-01   -0.062379
2016-05-08   -0.014910
2016-05-15    0.027748
2016-05-22   -0.020500
2016-05-29    0.029202
2016-06-05    0.013322
2016-06-12   -0.013147
2016-06-19   -0.011012
2016-06-26   -0.024423
2016-07-03   -0.017177
2016-07-10    0.018396
2016-07-17    0.033664
2016-07-24    0.026026
2016-07-31    0.009023
2016-08-07    0.033706
2016-08-14    0.016550
2016-08-21   -0.006357
2016-08-28   -0.016679
2016-09-04    0.002934
2016-09-11    0.012142
2016-09-18   -0.020165
2016-09-25    0.022428
2016-10-02    0.001846
2016-10-09   -0.003122
2016-10-16    0.002850
2016-10-23    0.028264
2016-10-30   -0.002863
2016-11-06   -0.042135
2016-11-13    0.031176
2016-11-20   -0.030651
2016-11-27    0.001056
2016-12-04   -0.013403
2016-12-11    0.019856
2016-12-18    0.032182
2016-12-25   -0.006246
2017-01-01   -0.011396
Freq: W-SUN, Name: Open, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
#Se cambian los valores Na por 0
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
#Se puede reemplazar Na por el siguiente valor más cercano
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
#Se descartan los valores Na
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [27]:
#Example
daily = penultimate_day.pct_change()
#Se cambian los valores Na por 0
print("\nMétodo 1\n")
print(daily.fillna('Holi'))
#Se reemplaza por el siguiente valor más cercano
print("\nMétodo 2\n")
print(daily.fillna(method = 'bfill'))
#Se descarta los Na
print("\nMétodo 3\n")
daily.dropna()

Método 1

Date
2016-01-10        Holi
2016-01-17   -0.034136
2016-01-24   -0.004537
2016-01-31     0.02854
2016-02-07    0.000817
2016-02-14   -0.066145
2016-02-21    0.051852
2016-02-28    -0.01407
2016-03-06    0.026671
2016-03-13   -0.014694
2016-03-20    0.040007
2016-03-27    0.008025
2016-04-03    0.009281
2016-04-10   -0.005179
2016-04-17    0.011592
2016-04-24    0.001817
2016-05-01   -0.062379
2016-05-08    -0.01491
2016-05-15    0.027748
2016-05-22     -0.0205
2016-05-29    0.029202
2016-06-05    0.013322
2016-06-12   -0.013147
2016-06-19   -0.011012
2016-06-26   -0.024423
2016-07-03   -0.017177
2016-07-10    0.018396
2016-07-17    0.033664
2016-07-24    0.026026
2016-07-31    0.009023
2016-08-07    0.033706
2016-08-14     0.01655
2016-08-21   -0.006357
2016-08-28   -0.016679
2016-09-04    0.002934
2016-09-11    0.012142
2016-09-18   -0.020165
2016-09-25    0.022428
2016-10-02    0.001846
2016-10-09   -0.003122
2016-10-16     0.00285
2016-10-23    0.028264
2016-10-30   -0.002863
2016-11-06   -0.042135
2016-11-13    0.031176
2016-11-20   -0.030651
2016-11-27    0.001056
2016-12-04   -0.013403
2016-12-11    0.019856
2016-12-18    0.032182
2016-12-25   -0.006246
2017-01-01   -0.011396
Freq: W-SUN, Name: Open, dtype: object

Método 2

Date
2016-01-10   -0.034136
2016-01-17   -0.034136
2016-01-24   -0.004537
2016-01-31    0.028540
2016-02-07    0.000817
2016-02-14   -0.066145
2016-02-21    0.051852
2016-02-28   -0.014070
2016-03-06    0.026671
2016-03-13   -0.014694
2016-03-20    0.040007
2016-03-27    0.008025
2016-04-03    0.009281
2016-04-10   -0.005179
2016-04-17    0.011592
2016-04-24    0.001817
2016-05-01   -0.062379
2016-05-08   -0.014910
2016-05-15    0.027748
2016-05-22   -0.020500
2016-05-29    0.029202
2016-06-05    0.013322
2016-06-12   -0.013147
2016-06-19   -0.011012
2016-06-26   -0.024423
2016-07-03   -0.017177
2016-07-10    0.018396
2016-07-17    0.033664
2016-07-24    0.026026
2016-07-31    0.009023
2016-08-07    0.033706
2016-08-14    0.016550
2016-08-21   -0.006357
2016-08-28   -0.016679
2016-09-04    0.002934
2016-09-11    0.012142
2016-09-18   -0.020165
2016-09-25    0.022428
2016-10-02    0.001846
2016-10-09   -0.003122
2016-10-16    0.002850
2016-10-23    0.028264
2016-10-30   -0.002863
2016-11-06   -0.042135
2016-11-13    0.031176
2016-11-20   -0.030651
2016-11-27    0.001056
2016-12-04   -0.013403
2016-12-11    0.019856
2016-12-18    0.032182
2016-12-25   -0.006246
2017-01-01   -0.011396
Freq: W-SUN, Name: Open, dtype: float64

Método 3

Date
2016-01-17   -0.034136
2016-01-24   -0.004537
2016-01-31    0.028540
2016-02-07    0.000817
2016-02-14   -0.066145
2016-02-21    0.051852
2016-02-28   -0.014070
2016-03-06    0.026671
2016-03-13   -0.014694
2016-03-20    0.040007
2016-03-27    0.008025
2016-04-03    0.009281
2016-04-10   -0.005179
2016-04-17    0.011592
2016-04-24    0.001817
2016-05-01   -0.062379
2016-05-08   -0.014910
2016-05-15    0.027748
2016-05-22   -0.020500
2016-05-29    0.029202
2016-06-05    0.013322
2016-06-12   -0.013147
2016-06-19   -0.011012
2016-06-26   -0.024423
2016-07-03   -0.017177
2016-07-10    0.018396
2016-07-17    0.033664
2016-07-24    0.026026
2016-07-31    0.009023
2016-08-07    0.033706
2016-08-14    0.016550
2016-08-21   -0.006357
2016-08-28   -0.016679
2016-09-04    0.002934
2016-09-11    0.012142
2016-09-18   -0.020165
2016-09-25    0.022428
2016-10-02    0.001846
2016-10-09   -0.003122
2016-10-16    0.002850
2016-10-23    0.028264
2016-10-30   -0.002863
2016-11-06   -0.042135
2016-11-13    0.031176
2016-11-20   -0.030651
2016-11-27    0.001056
2016-12-04   -0.013403
2016-12-11    0.019856
2016-12-18    0.032182
2016-12-25   -0.006246
2017-01-01   -0.011396
Freq: W-SUN, Name: Open, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [28]:
#Se importa la librería
import pandas as pd

#Se crea un diccionario
dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
#Se crean índices de tipo fecha
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')

#Se crea un Data Frame
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [33]:
#Example
#Se importa la librería
import pandas as pd

#Se crea un diccionario
dict = {'Pedro': [765432, 87654], 'Martina': [98765, 876549], 'Cristina': [1234567, 87654], 'Mario': [7656425, 654765]}

#Se crean índices de tipo fecha
indexx = pd.date_range('2022-03-15',periods = 4, freq = 'D')

#Se crea un Data Frame
df = pd.DataFrame([dict], index = indexx)
print(df)

                      Pedro          Martina          Cristina  \
2022-03-15  [765432, 87654]  [98765, 876549]  [1234567, 87654]
2022-03-16  [765432, 87654]  [98765, 876549]  [1234567, 87654]
2022-03-17  [765432, 87654]  [98765, 876549]  [1234567, 87654]
2022-03-18  [765432, 87654]  [98765, 876549]  [1234567, 87654]

                        Mario
2022-03-15  [7656425, 654765]
2022-03-16  [7656425, 654765]
2022-03-17  [7656425, 654765]
2022-03-18  [7656425, 654765]

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
#Se consulta el valores por índice desde el final
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [34]:
#Example
#Se consulta el valores por índice desde el inicio
df = table
print(df.Open.head(5))
print(df['Volume'].head(5))

Date
2016-01-04    743.000000
2016-01-05    746.450012
2016-01-06    730.000000
2016-01-07    730.309998
2016-01-08    731.450012
Name: Open, dtype: float64
Date
2016-01-04    3272800
2016-01-05    1950700
2016-01-06    1947000
2016-01-07    2963700
2016-01-08    2450900
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
#Se consulta por año
aapl_2016 = df['2016']
#Se consulta el valor del último día por mes
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450761  22.768308  22.402086  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773054  24.986412  24.768364  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300094  26.441492  25.986660  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [42]:
#Example
#Se consulta por año
dat_2016 = df['2016-2']
#Se consulta el valor del penúltimo día por mes
dat_week = dat_2016.resample('W').agg(lambda x: x[-1])
print(dat_week)

                  Open        High         Low       Close   Volume  \
Date
2016-02-07  703.869995  703.989990  680.150024  683.570007  5105700
2016-02-14  690.260010  693.750000  678.599976  682.400024  2141400
2016-02-21  695.030029  703.080994  694.049988  700.909973  1589300
2016-02-28  708.580017  713.429993  700.859985  705.070007  2243500
2016-03-06  700.320007  710.890015  697.679993  697.770020  2481100

            Dividends  Stock Splits
Date
2016-02-07          0             0
2016-02-14          0             0
2016-02-21          0             0
2016-02-28          0             0
2016-03-06          0             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  This is separate from the ipykernel package so we can avoid doing imports until

We may select certain columns of a DataFrame using their names:

In [ ]:
#Se seleccionan algunas columnas del Data Frame
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450761  22.768308  22.402086  22.411358
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [43]:
#Example
#Se seleccionan algunas columnas del Data Frame
dat_bar = dat_week[['Open', 'High']]
print(dat_bar)

                  Open        High
Date
2016-02-07  703.869995  703.989990
2016-02-14  690.260010  693.750000
2016-02-21  695.030029  703.080994
2016-02-28  708.580017  713.429993
2016-03-06  700.320007  710.890015

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
#Se consultan períodos y columnas específicas
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [44]:
#Example
#Se consultan períodos y columnas específicas
print(dat_week.loc['2016-01':'2017-04',['High', 'Low', 'Close', 'Open']])

                  High         Low       Close        Open
Date
2016-02-07  703.989990  680.150024  683.570007  703.869995
2016-02-14  693.750000  678.599976  682.400024  690.260010
2016-02-21  703.080994  694.049988  700.909973  695.030029
2016-02-28  713.429993  700.859985  705.070007  708.580017
2016-03-06  710.890015  697.679993  697.770020  700.320007

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [45]:
#Se importa la librería
import numpy as np

#Se pueden comparar entre elementos
above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

NameError: ignored

In [48]:
#Example
#Se importa la librería
import numpy as np

#Se pueden comparar entre elementos
above = dat_bar[dat_bar.High > np.median(dat_bar.High)]
print(above)

                  Open        High
Date
2016-02-28  708.580017  713.429993
2016-03-06  700.320007  710.890015

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
#Se añade una columna al Data Frame con el porcentaje de cambio entre dos datos subsecuentes
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
#Example
#Se añade una columna al Data Frame con el porcentaje de cambio entre dos datos subsecuentes
dat_bar['Difference'] = dat_bar.High.diff()
print(dat_bar)

                  Open        High  Difference
Date
2016-02-07  703.869995  703.989990         NaN
2016-02-14  690.260010  693.750000  -10.239990
2016-02-21  695.030029  703.080994    9.330994
2016-02-28  708.580017  713.429993   10.348999
2016-03-06  700.320007  710.890015   -2.539978

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
#Se verifican los valores Na
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [51]:
#Example
#Se verifican los valores Na
na_values = dat_bar.isnull()
print(na_values)
print('---------------------------------------------')
print(na_values.describe())

             Open   High  Difference
Date
2016-02-07  False  False        True
2016-02-14  False  False       False
2016-02-21  False  False       False
2016-02-28  False  False       False
2016-03-06  False  False       False
---------------------------------------------
         Open   High Difference
count       5      5          5
unique      1      1          2
top     False  False      False
freq        5      5          4

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [52]:
#Se consultan valores na más en una columna
print(missing[missing.rate_return == True])

Empty DataFrame
Columns: [Open, High, Difference]
Index: []

In [ ]:
#Example
#Se consultan valores na más en una columna
print(na_values[na_values.High == True]) #No se encuentra ninguno en esa columna

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
#Se eliminan los valores na
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
#Se cambian los na por 0
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [53]:
#Example
#Se eliminan los valores na
datdrop = dat_bar.dropna()
print(datdrop)
print('\n--------------------------------------------------\n')
#Se cambian los na por 0
datfill = dat_bar.fillna(0)
print(datfill)

                  Open        High  Difference
Date
2016-02-14  690.260010  693.750000  -10.239990
2016-02-21  695.030029  703.080994    9.330994
2016-02-28  708.580017  713.429993   10.348999
2016-03-06  700.320007  710.890015   -2.539978

--------------------------------------------------

                  Open        High  Difference
Date
2016-02-07  703.869995  703.989990    0.000000
2016-02-14  690.260010  693.750000  -10.239990
2016-02-21  695.030029  703.080994    9.330994
2016-02-28  708.580017  713.429993   10.348999
2016-03-06  700.320007  710.890015   -2.539978

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
#Se crean dos "Series"
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
#Se concatenan las dos Series y se crea un Data Frame
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [57]:
#Example
#Se crean dos diccionarios
contacts1 = {'Pedro': [765432, 'School'], 'Martina': ['Work', 876549], 'Cristina': [1234567, 'Home'], 'Mario': [7656425, 'Home']}
contacts2 = {'Liliana': [978654, 'School'], 'Carlos': ['Work', 786545], 'Santiago': [87654, 'Home'], 'Mario': [98878, 'Work']}
#Se crean dos "Series"
serie1 = pd.Series(contacts1)
serie2 = pd.Series(contacts2)
#Se concatenan las dos Series y se crea un Data Frame
df = pd.concat([serie1,serie2], axis = 1)
print(df)

                         0                 1
Pedro     [765432, School]               NaN
Martina     [Work, 876549]               NaN
Cristina   [1234567, Home]               NaN
Mario      [7656425, Home]     [98878, Work]
Liliana                NaN  [978654, School]
Carlos                 NaN    [Work, 786545]
Santiago               NaN     [87654, Home]

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
#Se calcula el ln() de los valores de cierre
log_price = np.log(aapl_bar.Close)
#Se le asigna un nombre
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
#Se concatena al Data Frame
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [61]:
#Example
#Se calcula el logaritmo natural de los valores de cierre
log_val = np.log(dat_bar.High)
#Se le asigna un nombre
log_val.name = 'log_val'
print(log_val)
print('\n---------------------- separate line--------------------\n')
#Se concatena al Data Frame
concat = pd.concat([dat_bar, log_val], axis = 1)
print(concat)

Date
2016-02-07    6.556764
2016-02-14    6.542112
2016-02-21    6.555472
2016-02-28    6.570084
2016-03-06    6.566518
Freq: W-SUN, Name: log_val, dtype: float64

---------------------- separate line--------------------

                  Open        High  Difference   log_val
Date
2016-02-07  703.869995  703.989990         NaN  6.556764
2016-02-14  690.260010  693.750000  -10.239990  6.542112
2016-02-21  695.030029  703.080994    9.330994  6.555472
2016-02-28  708.580017  713.429993   10.348999  6.570084
2016-03-06  700.320007  710.890015   -2.539978  6.566518

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
#Se calcula el valor del último día por mes de un rango de fechas en específico de una columnas específicas
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [62]:
#Example
#Se calcula el valor del último día por semana de un rango de fechas en específico de una columnas específicas
volume = table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('W').agg(lambda x: x[-1])
print(volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

             Volume  Stock Splits
Date
2016-10-09   933200             0
2016-10-16   852500             0
2016-10-23  1266200             0
2016-10-30  4269900             0
2016-11-06  2134800             0
2016-11-13  2431800             0
2016-11-20  1547100             0
2016-11-27   587400             0
2016-12-04  1452500             0
2016-12-11  1821900             0
2016-12-18  2443800             0
2016-12-25   623400             0
2017-01-01  1770000             0
2017-01-08  1640200             0
2017-01-15  1099200             0
2017-01-22  1670000             0
2017-01-29  2965800             0
2017-02-05  1463400             0
2017-02-12  1135000             0
2017-02-19  1611000             0
2017-02-26  1392200             0
2017-03-05   896400             0
2017-03-12  1704000             0
2017-03-19  1712300             0
2017-03-26  1981000             0
2017-04-02  1401900             0
2017-04-09  1057300             0
2017-04-16  1122400             0
2017-04-23  1323600             0
2017-04-30  3276300             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2016-10-31  795.469971  796.859985  784.000000  784.539978
2016-11-30  770.070007  772.989990  754.830017  758.039978
2016-12-31  782.750000  782.780029  770.409973  771.820007
2017-01-31  796.859985  801.250000  790.520020  796.789978
2017-02-28  825.609985  828.539978  820.200012  823.210022
2017-03-31  828.969971  831.640015  827.390015  829.559998
2017-04-30  910.659973  916.849976  905.770020  905.960022

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
#Se concatena lo hecho previamente en el Data Frame
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300094  26.441492  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [63]:
#Example
#Se concatena lo hecho previamente en el Data Frame
concat = pd.concat([dat_bar, volume], axis = 1)
print(concat)

                  Open        High  Difference     Volume  Stock Splits
Date
2016-02-07  703.869995  703.989990         NaN        NaN           NaN
2016-02-14  690.260010  693.750000  -10.239990        NaN           NaN
2016-02-21  695.030029  703.080994    9.330994        NaN           NaN
2016-02-28  708.580017  713.429993   10.348999        NaN           NaN
2016-03-06  700.320007  710.890015   -2.539978        NaN           NaN
2016-10-09         NaN         NaN         NaN   933200.0           0.0
2016-10-16         NaN         NaN         NaN   852500.0           0.0
2016-10-23         NaN         NaN         NaN  1266200.0           0.0
2016-10-30         NaN         NaN         NaN  4269900.0           0.0
2016-11-06         NaN         NaN         NaN  2134800.0           0.0
2016-11-13         NaN         NaN         NaN  2431800.0           0.0
2016-11-20         NaN         NaN         NaN  1547100.0           0.0
2016-11-27         NaN         NaN         NaN   587400.0           0.0
2016-12-04         NaN         NaN         NaN  1452500.0           0.0
2016-12-11         NaN         NaN         NaN  1821900.0           0.0
2016-12-18         NaN         NaN         NaN  2443800.0           0.0
2016-12-25         NaN         NaN         NaN   623400.0           0.0
2017-01-01         NaN         NaN         NaN  1770000.0           0.0
2017-01-08         NaN         NaN         NaN  1640200.0           0.0
2017-01-15         NaN         NaN         NaN  1099200.0           0.0
2017-01-22         NaN         NaN         NaN  1670000.0           0.0
2017-01-29         NaN         NaN         NaN  2965800.0           0.0
2017-02-05         NaN         NaN         NaN  1463400.0           0.0
2017-02-12         NaN         NaN         NaN  1135000.0           0.0
2017-02-19         NaN         NaN         NaN  1611000.0           0.0
2017-02-26         NaN         NaN         NaN  1392200.0           0.0
2017-03-05         NaN         NaN         NaN   896400.0           0.0
2017-03-12         NaN         NaN         NaN  1704000.0           0.0
2017-03-19         NaN         NaN         NaN  1712300.0           0.0
2017-03-26         NaN         NaN         NaN  1981000.0           0.0
2017-04-02         NaN         NaN         NaN  1401900.0           0.0
2017-04-09         NaN         NaN         NaN  1057300.0           0.0
2017-04-16         NaN         NaN         NaN  1122400.0           0.0
2017-04-23         NaN         NaN         NaN  1323600.0           0.0
2017-04-30         NaN         NaN         NaN  3276300.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
#Se realiza la operación inner join
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300094  26.441492  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [64]:
#Example
#Se realiza la operación inner join
concat = pd.concat([dat_bar,volume],axis = 1, join = 'inner')
print(concat) #No hay intersecciones

Empty DataFrame
Columns: [Open, High, Difference, Volume, Stock Splits]
Index: []

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
#Se adjunta una serie de datos
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [65]:
#Se adjunta una serie de datos
append = dat_bar.append(df_2017)
print(append)

                  Open        High  Difference         Low       Close
Date
2016-02-07  703.869995  703.989990         NaN         NaN         NaN
2016-02-14  690.260010  693.750000  -10.239990         NaN         NaN
2016-02-21  695.030029  703.080994    9.330994         NaN         NaN
2016-02-28  708.580017  713.429993   10.348999         NaN         NaN
2016-03-06  700.320007  710.890015   -2.539978         NaN         NaN
2016-10-31  795.469971  796.859985         NaN  784.000000  784.539978
2016-11-30  770.070007  772.989990         NaN  754.830017  758.039978
2016-12-31  782.750000  782.780029         NaN  770.409973  771.820007
2017-01-31  796.859985  801.250000         NaN  790.520020  796.789978
2017-02-28  825.609985  828.539978         NaN  820.200012  823.210022
2017-03-31  828.969971  831.640015         NaN  827.390015  829.559998
2017-04-30  910.659973  916.849976         NaN  905.770020  905.960022

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
#Se puede adjuntar de diferentes maneras
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [67]:
#Se puede adjuntar de diferentes maneras
concat = pd.concat([dat_bar, df_2017], axis = 0)
print(concat)

                  Open        High  Difference         Low       Close
Date
2016-02-07  703.869995  703.989990         NaN         NaN         NaN
2016-02-14  690.260010  693.750000  -10.239990         NaN         NaN
2016-02-21  695.030029  703.080994    9.330994         NaN         NaN
2016-02-28  708.580017  713.429993   10.348999         NaN         NaN
2016-03-06  700.320007  710.890015   -2.539978         NaN         NaN
2016-10-31  795.469971  796.859985         NaN  784.000000  784.539978
2016-11-30  770.070007  772.989990         NaN  754.830017  758.039978
2016-12-31  782.750000  782.780029         NaN  770.409973  771.820007
2017-01-31  796.859985  801.250000         NaN  790.520020  796.789978
2017-02-28  825.609985  828.539978         NaN  820.200012  823.210022
2017-03-31  828.969971  831.640015         NaN  827.390015  829.559998
2017-04-30  910.659973  916.849976         NaN  905.770020  905.960022

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
#Se pueden mezclar dos columnas si se concatenan dos data frames que tengan el mismo nombre de columnas
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441492  25.986660  26.045576          NaN  26.300094
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607243  28.425783  28.597816          NaN  28.550684
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [68]:
#Se pueden mezclar dos columnas si se concatenan dos data frames que tengan el mismo nombre de columnas
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([dat_bar, df_2017], axis = 1) #El axis cambia el 'merge' de las columnas
print(concat)

                  Open        High  Difference      Change        High  \
Date
2016-02-07  703.869995  703.989990         NaN         NaN         NaN
2016-02-14  690.260010  693.750000  -10.239990         NaN         NaN
2016-02-21  695.030029  703.080994    9.330994         NaN         NaN
2016-02-28  708.580017  713.429993   10.348999         NaN         NaN
2016-03-06  700.320007  710.890015   -2.539978         NaN         NaN
2016-10-31         NaN         NaN         NaN  795.469971  796.859985
2016-11-30         NaN         NaN         NaN  770.070007  772.989990
2016-12-31         NaN         NaN         NaN  782.750000  782.780029
2017-01-31         NaN         NaN         NaN  796.859985  801.250000
2017-02-28         NaN         NaN         NaN  825.609985  828.539978
2017-03-31         NaN         NaN         NaN  828.969971  831.640015
2017-04-30         NaN         NaN         NaN  910.659973  916.849976

                   Low       Close
Date
2016-02-07         NaN         NaN
2016-02-14         NaN         NaN
2016-02-21         NaN         NaN
2016-02-28         NaN         NaN
2016-03-06         NaN         NaN
2016-10-31  784.000000  784.539978
2016-11-30  754.830017  758.039978
2016-12-31  770.409973  771.820007
2017-01-31  790.520020  796.789978
2017-02-28  820.200012  823.210022
2017-03-31  827.390015  829.559998
2017-04-30  905.770020  905.960022

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.